.form-title {
    display: flex;
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);

    @media screen and (min-width: 1200px) {
        font-size: 23px;
        line-height: 1.15;
    }
}

.form-file {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.form-content {
    margin-bottom: 4px;
}

.form-box {
    width: 100%;
    height: 40px;

    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;

    &:focus {
        outline: none;
        cursor: pointer;
        border-color: var(--accent-color);
        color: var(--main-text-color);
    }

    &:focus ~ .modal-svg {
        fill: var(--accent-color);
    }
}

.form-icon {
    position: relative;
    justify-content: center;
    align-items: center;
}

.modal-svg {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.message {
    display: flex;
    // height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;

    &:focus {
        outline: none;
        cursor: pointer;
        border-color: var(--accent-color);
        color: var(--main-text-color);
    }

    // @media screen and (min-width: 1200px) {
    // height: 120px;
    // }

}

.checkbox-lable {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.71;
    align-items: center;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox {
    position: absolute;
    opacity: 0;
}
.chek-icon {
    margin-left: 12px;
    width: 17px;
    height: 16px;
    border: 1px solid var(--black);
    border-radius: 2px;
    margin-right: 7px;
}

.checkbox:checked + .chek-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/iconcheck.svg);
    background-repeat: no-repeat;
    pointer-events: none;

    background-size: contain;
}

.link-consent {
    color: var(--accent-color);
    text-decoration: underline;
    padding-left: 4px;
}
.button-modal {    
    padding-left: 55px;
    padding-right: 55px;
}

.modal-box-but {
    display: flex;
    justify-content: center;
}

// .form-title {
//     margin: 0;
//     margin-bottom: 12px;
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 1.15;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: var(--black);
// }

// .form-file {
//     display: flex;
//     flex-direction: column;
//     width: 100%;

//     &:not(:last-child) {
//         margin-bottom: 10px;
//     }
// }

// .form-content {
//     margin-bottom: 4px;
// }

// .form-box {
//     width: 100%;
//     height: 40px;

//     padding-left: 42px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     cursor: pointer;

//     &:focus {
//         outline: none;
//         cursor: pointer;
//         border-color: var(--accent-color);
//         color: var(--main-text-color);
//     }

//     &:focus ~ .modal-svg {
//         fill: var(--accent-color);
//     }
// }

// .form-icon {
//     position: relative;
//     justify-content: center;
//     align-items: center;
// }

// .modal-svg {
//     position: absolute;
//     display: inline-block;
//     left: 0;
//     top: 0;
//     width: 12px;
//     height: 12px;
//     margin-left: 15px;
//     margin-right: 15px;
//     margin-top: 14px;
//     margin-bottom: 14px;
// }

// .message {
//     padding-left: 15px;
//     padding-right: 15px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     margin-bottom: 20px;

//     &:focus {
//         outline: none;
//         cursor: pointer;
//         border-color: var(--accent-color);
//         color: var(--main-text-color);
//     }
// }

// .checkbox-lable {
//     display: flex;
//     width: 100%;
//     margin-bottom: 30px;
//     font-size: 14px;
//     line-height: 1.71;
//     align-items: center;
// }

// .checkbox {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
// }

// .checkbox {
//     position: absolute;
//     opacity: 0;
// }
// .chek-icon {
//     margin-left: 12px;
//     width: 17px;
//     height: 16px;
//     border: 1px solid var(--black);
//     border-radius: 2px;
//     margin-right: 7px;
// }

// .checkbox:checked + .chek-icon {
//     border-color: var(--accent-color);
//     background-color: var(--accent-color);
//     background-image: url(../images/iconcheck.svg);
//     background-repeat: no-repeat;
//     pointer-events: none;

//     background-size: contain;
// }

// .link-consent {
//     color: var(--accent-color);
//     text-decoration: underline;
//     padding-left: 4px;
// }
// .button-modal {
//     // display: flex;
//     margin-left: 124px;
//     margin-right: 124px;
//     padding-left: 55px;
//     padding-right: 55px;
// }
