.social-icon {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    }

@media screen and (min-width: 1200px) {
    .social-icon {
       margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px; 
    }
}


.social-icon-link {
    display: flex;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }

    &:hover .social-icon-svg,
    &:focus .social-icon-svg {
        fill: var(--white);
    }
}

.social-icon-svg {
    width: 20px;
    height: 20px;
    display: flex;
    fill: var(--svg);
    justify-content: center;
}



