:root {
    --main-text-color: rgba(117, 117, 117, 1);
    --accent-color: rgb(33, 150, 243);
    --black: rgba(33, 33, 33, 1);
    --white: #ffffff;
    --footer-text-accent: rgba(255, 255, 255, 0.6);
    --main-bg: #e5e5e5;
    --light-bg: #f5f4fa;
    --dark-bg: #2f303a;
    --line: #eeeeee;
    --svg: #afb1b8;
    --footer-social: rgba(255, 255, 255, 0.1);
    --work-bg: rgba(47, 48, 58, 0.8);
    --backdrop: rgba(0, 0, 0, 0.2);
}

$fontfam-page: 'Roboto', sans-serif;
$fontfam-logo: 'Raleway', sans-serif;
