
@media screen and (min-width: 1200px){
    .footer-container {
        display: flex;
    }
}


@media screen and (min-width: 768px) {
    .footer-content {
    display: flex;
    justify-content: center;
    margin-bottom: 0;    
    }
    
}

@media screen and (min-width: 1200px) {
    .footer-content {
    width: calc((100% - 30px) / 2);
    text-align: start;
   
}
}

.footer {   
    text-align: center;
    background-color: var(--dark-bg);
    color: var(--footer-text-accent);
    .logo {
        display: inline-block;
        margin-bottom: 20px;
    }

    .social-icon {
        margin: 0;
        padding-right: 0;
    }
    .social-list {
        margin: 0;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) {
    .social-list {
        margin: 0;
    }
}

.logo-studio-wight {
    color: var(--white);
}

@media screen and (min-width: 768px) {
    
    .footer-content-tabl {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .footer-content-tabl {
    width: 100%;
    
    } 
}

.footer-content-right {
    display: block; 
    align-content: center; 
}

.footer-list {
       font-style: normal;
       margin-bottom: 46px;
}

.footer-content-text {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
     text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: var(--white);

}

.map {
    display: inline-block;
    margin-bottom: 9px;
    color: var(--white);
}

.footer-mail {
    margin-bottom: 8px;
}

.footer-form {
   width: 100%;
}

.join {
    input {
       width: 100%; 
       height: 50px;
       margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: var(--dark-bg);
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
        font-size: 16px;
        line-height: 1.25;
    letter-spacing: 0.03em;
        color: var(--footer-text-accent);
    }
}

@media screen and (min-width: 768px) {
   .join {
      input {
          display: block;
        width: 450px;  
       
      } 
   } 
}

@media screen and (min-width: 1200px) {
   .join {
        display: inline-flex;
          justify-content: space-between;
      input {
        width: 358px;  
        margin-right: 12px;
        margin-bottom: 0;       
      } 
   } 
}
    
.button-footer {
    
    width: 200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 62px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


.bt-foot-title::after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    background-repeat: no-repeat;
}

.icon-send::after {
    background-image: url(../images/send.svg);
}

.footer-svg {
    fill: var(--white);
}

.footer-link {
    background-color: var(--footer-social);
}


