
.header {
    
    background-color: var(--white);
    border-bottom: 1px solid #ececec;   
}
 
.header-container {    
    // display: flex;
    // justify-content: space-between;
    
    padding-top: 10px;
    padding-bottom: 10px;
    }

.header-container .navigation {
position: relative;
}  

.logo {
    font-family: $fontfam-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;    
    color: var(--accent-color);
}

.logo-studio {
    color: var(--black);
}

.button-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--white);
}

.button-menu .menumobi {
    display: none;
}

.button-menu.is-open .menumobi {
    display: block;
}

.button-menu.is-open .closemobi {
    display: none;
}


.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: var(--white);
    &.is-open {
        display: block;
    }
}


.site-nav {
   
    font-size: 18px;
    line-height: 1.17;
            letter-spacing: 0.02em;
    align-items: center;

    .item:not(:last-child) {
        margin-bottom: 40px;
       
    }
    .link {
        // position: relative;
        align-items: center;
       
        color: var(--black);
        &:hover,
        &:focus {
            padding: 0;            
            line-height: 1.14;           
            color: var(--accent-color);
        }
    }
}

.site-nav .link {
position: relative;
//  align-items: center;

//  background-position: center;
 
}

.nav-line::after {
    display: inline-block;
  
    width: 100%;
    content: '';
    position: absolute;
    //  align-items: center;
    height: 4px;
    margin: 0;
    margin-top: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.line::after {
    
    background-image: url(../images/line.svg);
}

.contacts {
    display: block;
    align-items: center;

    .list {
        margin-top: 60px;
    }
}

.contacts .item {
    margin-bottom: 16px;
}

.phone {
    
    align-items: center;
    &:hover,
    &:focus {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
}

.mail:hover,
.mail:focus {
    color: var(--accent-color);
}

.contacts-icon-svg {
    display: inline-flex;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    object-position: bottom;
    fill: var(--main-text-color);
}

.envelope {
    width: 16px;
    height: 12px;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.smartphone {
    width: 10px;
    height: 16px;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}


// .header {
//     background-color: var(--white);
//     border-bottom: 1px solid #ececec;

//     .logo {
//         margin-right: 93px;
//     }
// }

// .header-container {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     padding-top: 24px;
//     padding-bottom: 24px;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
// }

// .logo {
//     font-family: $fontfam-logo;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--accent-color);
// }

// .logo-studio {
//     color: var(--black);
// }

// .site-nav {
//     display: flex;
//     position: relative;
//     align-items: center;

//     .item:not(:last-child) {
//         margin-right: 50px;
//     }
//     .link {
//         color: var(--black);

//         &:hover,
//         &:focus {
//             padding: 0;
//             line-height: 1.14;
//             letter-spacing: 0.02em;
//             color: var(--accent-color);
//         }
//     }
// }



// .nav-line::after {
//     display: block;
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     margin-top: 28px;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// .line::after {
//     background-image: url(../images/line.svg);
// }

// .contacts {
//     display: inline-flex;
//     align-items: center;
//     .item:not(:last-child) {
//         margin-right: 50px;
//     }
// }

// .phone {
//     display: flex;
//     align-items: center;
//     &:hover,
//     &:focus {
//         font-weight: 500;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         color: var(--accent-color);
//     }
// }

// .mail:hover,
// .mail:focus {
//     color: var(--accent-color);
// }

// .contacts-icon-svg {
//     display: inline-flex;
//     margin: 0;
//     margin-right: 10px;
//     padding: 0;
//     object-position: bottom;
//     fill: var(--main-text-color);
// }

// .envelope {
//     width: 16px;
//     height: 12px;
//     &:hover,
//     &:focus {
//         fill: var(--accent-color);
//     }
// }

// .smartphone {
//     width: 10px;
//     height: 16px;
//     &:hover,
//     &:focus {
//         fill: var(--accent-color);
//     }
// }
