.header {
    
    background-color: var(--white);
    border-bottom: 1px solid #ececec;

   
}

.header-container {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
     background-color: var(--white);
    

    @media screen and (min-width: 768px) {
        display: block;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    
    @media screen and (min-width: 768px) {
        .logo {
            margin-right: 88px;
        }
    }

    @media screen and (min-width: 1200px) {
        .logo {
            margin-right: 93px;
        }
    }
}



.header-container .navigation {
    position: relative;
}

.logo {
    font-family: $fontfam-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo-studio {
    color: var(--black);
}

.button-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--white);
     &:hover {
        cursor: pointer;
    }
     &:hover {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.button-menu .menumobi {
    display: none;
}

.button-menu.is-open .menumobi {
    display: block;
}

.button-menu.is-open .closemobi {
    display: none;
}




.menu-container {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: var(--white);
    z-index: 1;
    &.is-open {
        display: block;
        @media screen and (min-width: 768px) {
          display: inline-flex;  
        }
        
    }

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 393px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.site-nav {
     display: flex;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    align-items: center;
    flex-direction: column ;


    .item:not(:last-child) {
        margin-bottom: 40px;
    }
    .link {
        position: relative;
        align-items: center;
        color: var(--black);
        &:hover,
        &:focus {
            padding: 0;
            line-height: 1.14;
            color: var(--accent-color);
        }
    }

    @media screen and (min-width: 768px) {
       
        flex-direction: row ;
        font-size: 14px;
        line-height: 1.14;

        .item:not(:last-child) {
            margin-right: 50px;
            margin-bottom: 0px;
        }
    }
}

.nav-line::after {
    display: block;
    width: 100%;
    content: '';
    position: absolute;
    height: 2px;
    margin: 0;
    margin-top: 8px;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        display: block;
        margin-top: 32px;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
      height: 4px;  
       margin-top: 28px;
    }
}

.line::after {
    background-image: url(../images/line.svg);
}

.contacts {
    display: block;
    align-items: center;

    .list {
        margin-top: 60px;

        @media screen and (min-width: 768px) {
            margin-top: 0px;
        }
    }


    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: flex-start;

    }
    


    @media screen and (min-width: 1200px) {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        .item:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.contacts .item {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    &:nth-child(2n) {
       margin-bottom: 0px;  
    }    

    @media screen and (min-width: 768px) {
        margin-bottom: 10px;
        font-size: 12px;

        &:nth-child(2n) {
           margin-bottom: 0px; 
        }
        
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.14;
    }
}

.phone {
    align-items: center;
    &:hover,
    &:focus {
        
        color: var(--accent-color);
    }
}

.mail:hover,
.mail:focus {
    color: var(--accent-color);
}

.contacts-icon-svg {
    display: inline-flex;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    object-position: bottom;
    fill: var(--main-text-color);

    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}

.envelope {
    width: 16px;
    height: 12px;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        width: 14px;
        height: 10px;
    }

    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
}

.smartphone {
    width: 10px;
    height: 16px;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        width: 10px;
        height: 14px;
    }

    @media screen and (min-width: 1200px) {
        width: 10px;
        height: 16px;
    }
}
