.hero {
    text-align: center;
    background-image: radial-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/img14.jpg);
    background-size: 480px 400px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



// .hero {
//     text-align: center;
//     background-image: radial-gradient(
//             rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)
//         ),
//         url(../images/img14.jpg);
//     background-size: 1600px 600px;
//     background-repeat: no-repeat;
//     background-position: 50% 50%;
// }

.hero-content {
    display: flex;
    justify-content: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.38;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    padding-top: 200px;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 696px;
    text-align: center;
}

.hero-container .button {
    margin-bottom: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
