.section-features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--white);
}

 .features-list {
    // display: flex;
    // justify-content: space-between;
    .contant-box:not(:last-child) {
        margin-bottom: 30px;
    }
}



.contant-box {
    //  width: calc((100% -90px) / 4);
     p {
        margin-top: 0;
        margin-bottom: 0;
    }
     &::before {
        display: block;
        content: '';
        height: 120px;
        background-color: var(--light-bg);
        margin-bottom: 30px;
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
}
   
}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}


.section-title-features {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--black);
}

 



// .section-features {
//     padding-top: 94px;
//     padding-bottom: 47px;
//     background-color: var(--white);
// }

// .features-list {
//     display: flex;
//     justify-content: space-between;
//     .contant-box:not(:last-child) {
//         margin-right: 30px;
//     }
// }

// .contant-box {
//     width: calc((100% -90px) / 4);
//     p {
//         margin-top: 0;
//         margin-bottom: 0;
//     }
//     &::before {
//         display: block;
//         content: '';
//         height: 120px;
//         background-color: var(--light-bg);
//         margin-bottom: 30px;
//         background-size: 70px 70px;
//         background-repeat: no-repeat;
//         background-position: center;
//     }
// }

// .icon-antenna::before {
//     background-image: url(../images/antenna.svg);
// }

// .icon-clock::before {
//     background-image: url(../images/clock.svg);
// }

// .icon-diagram::before {
//     background-image: url(../images/diagram.svg);
// }

// .icon-astronaut::before {
//     background-image: url(../images/astronaut.svg);
// }

// .section-title-features {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;
//     margin-top: 0;
//     margin-bottom: 10px;
//     color: var(--black);
// }
